.groupfrom{
     background:transparent !important;
    color: black !important ;
    height: 5.4rem;
    width: 15rem;
    flex: 1;
    justify-content: center !important;
    align-items: center !important;
}