
.btn{
    width: 100%;
    background-color: transparent;
}
.btn :hover{
    background-color: green;
}

.img{
    margin: 5px;
    width: 35%;
    height: 35%;
    margin-left: 32%;
}
body :host(){
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
	height: 100vh;
}

.stage{
    justify-content: center !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
